body{
    background: navy;
    background-image: url(https://i.imgur.com/twdJwx2.png?2)
}
#content, #contentedit, #content-ticket, #content-form, #content_user {
       margin-left: 10%;
       margin-right: 10%;
}


.headers {
    font-weight: bold;
    color: rgb(11, 100, 11);
}

.areas{
    border: 3px solid rgba(0, 0, 0, 0.434);
    background: rgba(26, 37, 69, 0.906);
    margin-bottom: 10px;
    padding: 7px;
}

.buttonstyle{
    height: 35px;
    width: 250px;
    font-size: 22px;
    font-weight: bolder;
    border: 1px solid black;
    box-shadow: 3px 4px;
}

.buttonstyle:active{
    padding:3px 4px 3px 6px;

}
.formbuttons{
    display: flex;
}
.buttonish{
    margin: 5px;
}